
.Container {
}


.img-slide{
  filter: blur(50px);
  transition: background-image .3s ease-in-out;

}

.slide-arrow {
	color: grey;
	cursor: pointer;
	font-size: 4rem;
	top: 1700px;
	position: absolute;
}

.slide-arrow.right {
	right: 5%;
}

.slide-arrow.left {
	left: 10%;
}

.Card{
	height: 400px;
	width: 350px;
	position: absolute;
	top: 1550px;
	left: 15%;
    mask-image: linear-gradient(0,  rgba(0,0,0,0), rgba(0,0,0,1) 20%);

}

.Text-box{
	position: absolute;
	top: 1600px;
	left: 40%;
	width: 790px;
}

.Text-box h1{
	color:white;
}

.Text-box p{
	font-size: 1.5em;
	/*color: rgb(169,169,169);*/
}

.Inner-container{
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	*/
}

button{
	padding: 12px;
	color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3em;
     box-shadow: none;
}

.Buy-now-button{
	margin-right: 12px;
	background-color: rgba(15, 162, 219, 1);
	border: none;
}

.Watch-trailer-button{
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
}


@media screen and (max-width: 1550px){
	.Text-box{
		width: 770px;
	}
}

@media screen and (max-width: 1350px){
	.slide-arrow {
		top: 2100px;
	}

	.Card{
		top: 1900px;
		height: 250px;
		width: 250px;
		left: 42%;
	}

	.Text-box{
		left: 20%;
		top: 2150px;
		width: 70%;
	}

	.Text-box p{
		margin: 10px 0px;
	}

}

@media screen and (max-width: 700px){
	.slide-arrow {
		top: 1950px;
	}

	.Card{
		left: 30%;
		top: 1730px;
		height: 225px;
		width: 225px;
	}

	.Text-box{
		top: 1950px;

	}

	.Text-box p{
		font-size: 1rem;
		margin: 7px 0px;
	}
	.Text-box h1{
		padding: 10px 10px 0px 10px;
		margin-bottom: 0px;
		font-size: 1.5rem;
	}

	button{
		padding: 4px;
	}
}